header {
        background-color: lightgray;
}
img {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2 {
    color: rgb(235, 142, 55);
}
body {
    margin-left: 400px;
    margin-right: 400px;
}
h1 {
    text-align: center;
}
